<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript" src="javascript.js">

</script>
</head>
<body>
    <div class="area"></div>
    <nav class="main-menu">
      <ul>
          <div *ngIf="admin"> <li>
              <a  href="/users">
                <i class="fa fa-user fa-2x"></i>
                  <span class="nav-text">
                     Utilisateur
                  </span>
              </a>
            
          </li>
        </div> 
          <li class="">
                  <a  href="/laboratoires">
                  <i class="fa fa-plus-square fa-2x"></i>
                  <span class="nav-text">
                     Laboratoire
                  </span>
              </a>
              
          </li>
          <li class="">
              <a href="/produits">
          <i class="fa fa-medkit" aria-hidden="true"></i>
                  <span class="nav-text">
                      Produit
                  </span>
              </a>
              
          </li>

          <li>
              <a  href="/commandes">
                <i class="fa fa-briefcase"></i>
                  <span class="nav-text">
                     Commande
                  </span>
              </a>
            
          </li>

          <li>
              <a  href="/ventes">
                <i class="fa fa-usd"></i>
                  <span class="nav-text">
                     Vente
                  </span>
              </a>
            
          </li>
          <li>
              <a  href="/stocks">
                <i class="fa fa-shopping-cart"></i>
                  <span class="nav-text">
                     Stock
                  </span>
              </a>
            
          </li>
      </ul>
    </nav>
 

    <div class="container">
        <form class="form" #employeeForm="ngForm" (ngSubmit)="updateCommande(commande.ID)"  style="margin-left:150px">
            <h2 class="list">Modifier Commande </h2>
            <input type="hidden"  #ID="ngModel" [(ngModel)]="commande.ID">
            
        
           
            <div class="row">
                <div class="col-25">
                  <label for="subject" style="margin-top:80px;">Id laboratoire</label>
                </div>
           
                <div class="col-75">
                    <select (change)="changeLabo($event)" id="role" style="margin-top:80px;width:250px">
                          <option value="">choisir le Laboratoire</option>  
                        <option *ngFor="let laboratoire of Laboratoires"  [ngValue]="laboratoire">{{laboratoire.NAMEL}}</option>
                        </select>
                  
                  <span class="resultat"></span> 
              </div>
            </div>  
        
        
            <div class="row">
                <div class="col-25">
                  <label for="subject">Id Produit</label>
                </div>
            
                <div class="col-75">
                    <select (change)="changeProd($event)" id="role"   style="width:250px">
                          <option value="">choisir le Produit</option>  
                        <option *ngFor="let produit of Produits" [ngValue]="laboratoire">{{produit.NAMEP}}</option>
                        </select>
                  
                  <span class="resultat"></span> 
              </div>
            </div>
              
        
            <div class="row">
                <div class="col-25">
                  <label for="subject">Quantité Demande</label>
                </div>
         
                <div class="col-75">
                  <input  class="controle" id="QUANTITYDEMANDE"  style="width:250px;" type="text" name="QUANTITYDEMANDE"  #QUANTITYDEMANDE="ngModel"  [(ngModel)]="commande.QUANTITYDEMANDE"  pattern="[0-9-\.]{2,4}" placeholder="De 2 à 4 Nombres"   min="10" max="9999" >
                  <span class="resultat"></span>
                  </div>
        
                  <div class="form-group">
                    <div *ngIf="QUANTITYDEMANDE.invalid && (QUANTITYDEMANDE.dirty || QUANTITYDEMANDE.touched)"
                        class="alert alert-danger">
                      <div *ngIf="QUANTITYDEMANDE.errors.required">
                        La quantité demandée est obligatoire
                      </div>
                      </div>
                      </div>
              </div>
           
              
          <div class="row">
              <div class="col-25">
                <label for="lname">Date Commande</label>
              </div>
              <div class="col-75">
              <div class="form-group">  
                  <input type ="date" class="form-control"  style="width:250px;"   name="DATECOMMANDE" #Position="ngModel" [(ngModel)]="commande.DATECOMMANDE"  placeholder="DATECOMMANDE"> 
                </div> </div>
          
            </div>
        
            <div class="row">
                <div class="col-25">
                  <label for="subject">Received</label>
                </div>
                <div class="col-75"  id="is">
                    <div  >
                        <input type="radio"  name="drone" value="Oui" checked    #FirstName="ngModel" [(ngModel)]="commande.RECEIVED">
                        <label for="huey" >Oui</label>
                        <input type="radio" name="drone" value="Non" #FirstName="ngModel" [(ngModel)]="commande.RECEIVED">
                        <label for="dewey">Non</label>
                      </div>
                   
            </div> </div>
          
          
            <div class="row">
                <div class="col-25">
                  <label for="subject">Quantity received</label>
                </div>
                <div class="col-75">
                  <input class="controle"  type="text"  min="10" max="9999"id="QUANTITYDEMANDE"  style="width:250px;" name="QUNTITYRECIEVED" #QUNTITYRECIEVED="ngModel" [(ngModel)]="commande.QUNTITYRECIEVED" pattern="[0-9-\.]{2,4}" placeholder="De 2 à 4 Nombres" >
                  <span class="resultat"></span>
                </div>
        
                <div class="form-group">
                  <div *ngIf="QUNTITYRECIEVED.invalid && (QUNTITYRECIEVED.dirty || QUNTITYRECIEVED.touched)"
                      class="alert alert-danger">
                    <div *ngIf="QUNTITYRECIEVED.errors.required">
                      La quantité reçue est obligatoire
                    </div>
                    </div>
                    </div>
            </div>
            
          
          
          
            <div class="row">
              <div class="col-25">
                <label for="lname">Date Received</label>
              </div>
              <div class="col-75">
              <div class="form-group">  
                  <input type ="date" class="form-control"  style="width:250px;" name="DATERECEIVED" #Position="ngModel" [(ngModel)]="commande.DATERECEIVED"> 
                </div> </div>
          
            </div>
         
        
        
            <div class="row ">
                <input type="submit"  value="Modifier">
              </div>
              <div class="row">
                <input type="reset" (click)="resetForm(commandeForm)"  value="Annuler">
              </div>
        
           
          </form>
          </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>